@model Conecta.Models.CountryStructure.Country

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<h3>¿Seguro quieres eliminar esto?</h3>
<div>
    <h4>País</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IATA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IATA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryFlagUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryFlagUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CountryId" />
        <input type="submit" value="Delete/Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
