<div class="col-md-12 ml-auto mr-auto">
    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
        <!-- Item 1 -->
        <div class="card card-plain">
            <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsSeptiembreFirstOne" aria-expanded="true" aria-controls="collapseOne">
                    Proceso realizado para ante el terreno y Ex-Asilo
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </div>
            <!--Content-->
            <div id="collapsSeptiembreFirstOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    <p>En este proceso, se abarca un sector de 10 Hectareas, planteando las primeras intenciones de diseño arquitectonico y urbanistico buscando la calidad fisico-espacial. </p>
                    <!-- Process -->
                    <div id="CE_Proccess_September" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < 18; i++)
                            {
                                <li data-target="#CE_Proccess_September" data-slide-to="@i.ToString()" class="@((i==1)?"active":"")"></li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            @for (int i = 1; i <= 18; i++)
                            {
                                <div class="carousel-item @((i==1)?"active":"")">
                                    <img class="d-block w-100" src='../../../docs/memoria-grafica/septiembre/proceso/@(i.ToString()+".jpg")'>
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#CE_Proccess_September" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#CE_Proccess_September" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--Content 1-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="~/docs/memoria-grafica/septiembre/zona-cultura.png">
                                        <img src="~/docs/memoria-grafica/septiembre/zona-cultura.png">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/zona-cultura.png&quot;); opacity: 1;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="~/docs/memoria-grafica/septiembre/zona-comercio.png">
                                        <img src="~/docs/memoria-grafica/septiembre/zona-comercio.png">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/zona-comercio.png&quot;); opacity: 1;"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="~/docs/memoria-grafica/septiembre/zona-deportes.png">
                                        <img src="~/docs/memoria-grafica/septiembre/zona-deportes.png">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-3.jpg&quot;); opacity: 1;"></div>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-4.jpg&quot;); opacity: 1;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content 3 -->
                    <div class="row">
                        <div class="col-md-6">
                            <a href="~/docs/memoria-grafica/septiembre/circulaciones.png">
                                <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/circulaciones.png">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="~/docs/memoria-grafica/septiembre/perfil-viales.jpg">
                                <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/perfil-viales.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="card card-plain">
            <div class="card-header" role="tab" id="headingTwo">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsSeptiembreFirstTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Planificación arquitectonica del terreno y del Ex-Asilo
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </div>
            <div id="collapsSeptiembreFirstTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    <p>Se localizan los principales accesos al proyecto, se busca una conexión entre sí encontrando una geometria, dando como resultado una triangulación , regularizando las diagonales aprovechando el espacio y siendo más amables con el espacio.</p>
                    <!-- Content -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="~/docs/memoria-grafica/septiembre/memoria-grafica-1.jpg">
                                        <img src="~/docs/memoria-grafica/septiembre/memoria-grafica-1.jpg">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-1.jpg&quot;); opacity: 1;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="~/docs/memoria-grafica/septiembre/memoria-grafica-2.jpg">
                                        <img src="~/docs/memoria-grafica/septiembre/memoria-grafica-2.jpg">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-2.jpg&quot;); opacity: 1;"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="/docs/memoria-grafica/agosto/etapa-2/PGEA-segundo-piso.jpg">
                                        <img src="/docs/memoria-grafica/agosto/etapa-2/PGEA-segundo-piso.jpg">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-3.jpg&quot;); opacity: 1;"></div>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-4.jpg&quot;); opacity: 1;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content 2-->
                    <div class="row">
                        <center>
                            <div class="card card-plain card-blog">
                                <h3 class="card-title">Plano base del Proyecto: Matta Sur Conecta con la memoria</h3>
                                <div class="card-header card-header-image">
                                    <a href="~/docs/memoria-grafica/septiembre/primeras-lineas.jpg">
                                        <img class="img img-raised" src="~/docs/memoria-grafica/septiembre/primeras-lineas.jpg">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/primeras-lineas.jpg &quot;); opacity: 1;"></div>
                                </div>
                            </div>
                        </center>
                    </div>
                    <!-- Content 3 -->
                    <hr />
                    <div class="header text-center">
                        <h3 class="title">
                            Culminación del Mapa
                        </h3>
                        <div id="content-propuesta-parque" style="width: -webkit-fill-available;width: 100%;"></div>
                    </div>
                    <div class="row">
                        <a class="btn btn-success ml-auto mr-auto" href='javascript:showfile("propuesta-parque", "docs/memoria-grafica/septiembre/propuesta-parque.pdf")'>Visualiza el archivo (Aquí)</a>
                        <a class="btn btn-danger ml-auto mr-auto" href="~/docs/memoria-grafica/septiembre/propuesta-parque.pdf">Descarga el archivo PDF</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 3 -->
        <div class="card card-plain">
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsSeptiembreFirstThree" aria-expanded="false" aria-controls="collapseThree">
                    Propuesta programática Ex asilo
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </div>
            <div id="collapsSeptiembreFirstThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    <p>Se muestra la calidad fisico-espacial lograda, teniendo como resultado espacios que integran lo social, economico y  ambiental. Ofreciendo una calidad de espacio publico que va realacionado con lo multisensorial y lo cultural.</p>
                    <!-- Content End-->
                    <div class="row">
                        <center class="ml-auto mr-auto">
                            <figure>
                                <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/logo.png">
                            </figure>
                        </center>
                    </div>
                    <!-- Content 2-->
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/fase-1.jpg">
                        </div>
                        <div class="col-md-6">
                            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/fase-1.1.jpg">
                        </div>
                    </div>
                    <!-- Content 3-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="~/docs/memoria-grafica/septiembre/idea-espacio.jpg">
                                        <img src="~/docs/memoria-grafica/septiembre/idea-espacio.jpg">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/idea-espacio.jpg&quot;); opacity: 1;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="~/docs/memoria-grafica/septiembre/idea-juegos.png">
                                        <img src="~/docs/memoria-grafica/septiembre/idea-juegos.png">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/zona-juegos.png&quot;); opacity: 1;"></div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="~/docs/memoria-grafica/septiembre/idea-recorrido.bmp">
                                        <img src="~/docs/memoria-grafica/septiembre/idea-recorrido.bmp">
                                    </a>
                                    <div class="colored-shadow" style="background-image: url(&quot;idea-recorrido.bmp&quot;); opacity: 1;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content 2 -->
                    <div id="CE_Proccess_September_Conecta" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < 5; i++)
                            {
                                <li data-target="#CE_Proccess_September_Conecta" data-slide-to="@i.ToString()" class="@((i==1)?"active":"")"></li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <div class="carousel-item @((i==1)?"active":"")">
                                    <img class="d-block w-100" src='../../../images/conecta/etapa-@(i.ToString()+".jpg")'>
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#CE_Proccess_September_Conecta" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#CE_Proccess_September_Conecta" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--Content END-->
                    <div class="row">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                <a href="~/docs/memoria-grafica/septiembre/fase-2.jpg">
                                    <img class="img img-raised" src="~/docs/memoria-grafica/septiembre/fase-2.jpg">
                                </a>
                                <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/primeras-lineas.jpg &quot;); opacity: 1;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>