@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localization
@{
    ViewData["Title"] = "Index";
}
<div class="projects-4" id="projects-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                @Localization["Index_Content_Main"]
                <div class="section-space"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                        <div class="front front-background" style="background-image:url('@Url.Content("~/")images/maincontent/memoria-grafica-culminada.png');">
                            <div class="card-body">
                                <h6 class="card-category">Universidad de Boyacá</h6>
                                <a asp-area="" asp-controller="Main" asp-action="Conecta">
                                    <h3 class="card-title">Matta Sur Conecta con la Memoria</h3>
                                </a>
                                <p class="card-description">
                                    Conoce todo el proceso realizado ante la culminación del proyecto arquitectonico con diversas modalidades aquí.
                                </p>
                            </div>
                        </div>

                        <div class="back back-background" style="background-image: url('@Url.Content("~/")images/maincontent/memoria-grafica-culminada.png');">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Matta Sur - Conecta con la Memoria
                                </h5>
                                <p class="card-description">Conoce desde las memorias graficas hasta la implementación del aplicativo movil de Conecta.</p>
                                <div class="footer justify-content-center">
                                    <a asp-controller="Main" asp-action="Conecta" class="btn btn-info btn-just-icon btn-fill btn-round">
                                        <i class="material-icons">subject</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mr-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-info">
                        <i class="material-icons">format_paint</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">¿Qué hacemos?</h4>
                        <p class="description">
                            Elaboramos, diseñamos y construimos planos arquitectonicos para la mejora interna y externa del Asilo de los pobres, convirtiendola en el mejor parque recreacional de todos.
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="material-icons">code</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Uso de las TIC</h4>
                        <p class="description">
                            Utilizamos las Tecnologias de la Información y la Comunicación para dar a conocer el proceso realizado a lo largo de la construcción de este proyecto, de igual forma, se utiliza un aplicativo movil el cual permite brindar facilidad al usuario con respecto a la <b>Guía y Ubicación</b> de todo lo que desee dentro del parque.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-rose">
                        <i class="material-icons">timeline</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Crecimiento de tus vivencias y experiencias</h4>
                        <p class="description">
                            Con la aplicación y la interacción que tengas en el parque podras vivir uno de tus mejores momentos.
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="material-icons">dashboard</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Dashboard Administrativo</h4>
                        <p class="description">
                            El Dashboard genera un registro completo de tus actividades dentro del parque, al igual los puntos adquiridos en la vida útil del aplicativo, no obstante, existen herramientas en el dashboard que permiten accesos más rapidos...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                        <div class="front front-background" style="background-image:url('@Url.Content("~/")images/Evento/evento-1.jpg');">
                            <div class="card-body">
                                <h6 class="card-category">Cultura y Entretenimiento</h6>
                                <a asp-controller="Dashboard" asp-action="Eventos">
                                    <h3 class="card-title">Mantente atento en este sitio web a todos los eventos que se realizan en Matta Sur</h3>
                                </a>
                                <p class="card-description">
                                    Mantente al tanto de todos los eventos que se celebran a lo largo del presente mes con Conecta y su parque recreacional
                                </p>
                            </div>
                        </div>

                        <div class="back back-background" style="background-image: url('@Url.Content("~/")images/Evento/evento-1.jpg');">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Eventos de Matta Sur - Santiago de Chile
                                </h5>
                                <p class="card-description">Este sitio web te mantendra informado de los diversos eventos que se presentaran a lo largo del mes, e igualmente, se dara una descripción de los mismos y la ubicación mediante la aplicación.</p>
                                <div class="footer justify-content-center">
                                    /
                                    <a asp-controller="Dashboard" asp-action="Eventos" class="btn btn-info btn-just-icon btn-fill btn-round">
                                        <i class="material-icons">subject</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Project -->
<!-- App -->
<div class="features-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Matta Sur Conecta APP</h2>
                <h5 class="description">Esta aplicación movíl te permite ubicarte, guiarte, estar al tanto de eventos e interactuar dentro y fuera del Ex-Asilo Hermanitas de los pobres.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12 ml-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-info">
                        <i class="material-icons">code</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Caracteristicas Inigualables</h4>
                        <p>Excelente usabilidad, fácil adaptación, una guia completa, eventos inpresindibles y puntos indispensables son todo y lo que necesitas saber de la aplicaicón</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="material-icons">format_paint</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Fácil de Usar</h4>
                        <p>Gracias a su diseño, la aplicación es en escencia sencilla de utilizar y manejar, ademas la vida útil y objetivo de este software es brindarle al usuario una excelente guia y manejo de la misma dentro del parque.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="phone-container">
                    <img src="~/images/App/App.png">
                </div>
            </div>
            <div class="col-lg-3 col-md-12 mr-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="material-icons">dashboard</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Constante Mejora</h4>
                        <p>La aplicación crece constantemente a pasos aginagatados generando nuevas experiencias para el usuario.</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-success">
                        <i class="material-icons">view_carousel</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Example Pages Included</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End APP-->
<!--Content-->
<partial name="../ButtonsHistory" />
<!--/ End Content-->
<!--     *********    CONTACT US 2     *********      -->
<div class="contactus-2">
    <div id="contactUs2Map" class="map" style="height:557px"></div>
    <div class="col-md-6">
        <div class="card card-contact card-raised">
            <div class="card-header card-header-danger text-center">
                <h4 class="card-title">¿Dónde estamos?</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">¿Qué tan lejos esta el Ex-Asilo?</h5>
                                <p>
                                    Mediante una algoritmia, se define la distancia total desde tu ubicación alctual y la ubicación del ex-Asilo teniendo una excelente exatitud.<b>Nuevo</b> parque recreacional.
                                </p>
                                <br />
                                <a asp-controller="MapsExtends" asp-action="Recomendacion" style="z-index: 1;" class="btn btn btn-info btn-primary btn-round">
                                    ¿Qué tan lejos esta?
                                    <br />
                                    <i class="material-icons">airplanemode_active</i>
                                    <div class="ripple-container"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">Ubicación</h5>
                                <p>
                                    <strong>País:</strong><br> Santiago de Chile
                                    <br><br>
                                    <strong>Barrio Aledaño:</strong><br> Barrio Matta Sur
                                    <br><br>
                                    <strong>Lugar:</strong><br> Asilo de las hermanitas de los pobres de Santiago
                                    <br><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--     *********    END CONTACT US 2      *********      -->
