@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localization
@{
    ViewData["Title"] = "Index";
}
<div class="projects-4" id="projects-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                @Localization["Index_Content_Main"]
                <div class="section-space"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                        <div class="front front-background" style="background-image:url('@Url.Content("~/")images/background/3.jpg');">
                            <div class="card-body">
                                <h6 class="card-category">Universidad de Boyacá</h6>
                                <a asp-area="" asp-controller="Main" asp-action="Conecta">
                                    <h3 class="card-title">Matta Sur Conecta con la Memoria</h3>
                                </a>
                                <p class="card-description">
                                    @Localization["Flip_Box_Header_1"]
                                </p>
                            </div>
                        </div>

                        <div class="back back-background" style="background-image: url('@Url.Content("~/")images/background/3.jpg');">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Matta Sur - Conecta con la Memoria
                                </h5>
                                <p class="card-description">
                                    @Localization["Flip_Box_Back_1"]
                                </p>
                                <div class="footer justify-content-center">
                                    <a asp-controller="Main" asp-action="Conecta" class="btn btn-info btn-just-icon btn-fill btn-round">
                                        <i class="material-icons">subject</i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <center>
                        <a asp-controller="Main" asp-action="Conecta" class="btn btn-danger btn-round">
                            <i class="material-icons">subject</i> Ver el Proyecto Matta Sur Conecta
                            <div class="ripple-container"></div>
                        </a>
                    </center>
                </div>

            </div>
            <div class="col-md-5 mr-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-info">
                        <i class="material-icons">format_paint</i>
                    </div>
                    <div class="description">
                        @Localization["Topic_1"]
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="material-icons">code</i>
                    </div>
                    <div class="description">
                        @Localization["Topic_2"]
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-rose">
                        <i class="material-icons">timeline</i>
                    </div>
                    <div class="description">
                        @Localization["Topic_3"]
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="material-icons">dashboard</i>
                    </div>
                    <div class="description">
                        @Localization["Topic_4"]
                    </div>
                </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                        <div class="front front-background" style="background-image:url('@Url.Content("~/")images/Evento/evento-1.jpg');">
                            <div class="card-body">
                                <h6 class="card-category">
                                    @Localization["Flip_Header_Title_1"]
                                </h6>
                                <a asp-controller="Dashboard" asp-action="Eventos">
                                    <h3 class="card-title">
                                        @Localization["Flip_Header_Sub_Title_1"]
                                    </h3>
                                </a>
                                <p class="card-description">
                                    @Localization["Flip_Header_Context_1"]
                                </p>
                            </div>
                        </div>

                        <div class="back back-background" style="background-image: url('@Url.Content("~/")images/Evento/evento-1.jpg');">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @Localization["Flip_Back_Title_1"]
                                </h5>
                                <p class="card-description">
                                    @Localization["Flip_Back_Context_1"]
                                </p>
                                <div class="footer justify-content-center">
                                    /
                                    <a asp-controller="Dashboard" asp-action="Eventos" class="btn btn-info btn-just-icon btn-fill btn-round">
                                        <i class="material-icons">subject</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                    <a asp-controller="Dashboard" asp-action="Eventos" class="btn btn-danger btn-round">
                        <i class="material-icons">subject</i>
                        @Localization["See_Event"]
                        <div class="ripple-container"></div>
                    </a>
                </center>
            </div>
        </div>
    </div>
</div>
<!-- End Project -->
<!-- App -->
<div class="features-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">
                    @Localization["App_Title"]
                </h2>
                <h5 class="description">
                    @Localization["App_Description"]
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12 ml-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-info">
                        <i class="material-icons">code</i>
                    </div>
                    <div class="description">
                        @Localization["App_Topic_1"]
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-danger">
                        <i class="material-icons">format_paint</i>
                    </div>
                    <div class="description">
                        @Localization["App_Topic_2"]
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="phone-container">
                    <img src="~/images/App/App.png">
                </div>
            </div>
            <div class="col-lg-3 col-md-12 mr-auto">
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="material-icons">dashboard</i>
                    </div>
                    <div class="description">
                        @Localization["App_Topic_3"]
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-success">
                        <i class="material-icons">view_carousel</i>
                    </div>
                    <div class="description">
                        @Localization["App_Topic_4"]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End APP-->
<!--Content-->
<partial name="../ButtonsHistory" />
<!--/ End Content-->
<!--     *********    CONTACT US 2     *********      -->
<div class="contactus-2">
    <div id="contactUs2Map" class="map" style="height:557px"></div>
    <div class="col-md-6">
        <div class="card card-contact card-raised">
            <div class="card-header card-header-danger text-center">
                <h4 class="card-title">
                    @Localization["Location_Title_1"]
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">
                                    @Localization["Location_Title_2"]
                                </h5>
                                <p>
                                    @Localization["Location_Description_1"]
                                </p>
                                <br />
                                <a asp-controller="MapsExtends" asp-action="Recomendacion" style="z-index: 1;" class="btn btn btn-info btn-primary btn-round">
                                    @Localization["Location_Btn"]
                                    <br />
                                    <i class="material-icons">airplanemode_active</i>
                                    <div class="ripple-container"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">
                                    @Localization["Location_Title_3"]
                                </h5>
                                @Localization["Location_Description_2   "]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--     *********    END CONTACT US 2      *********      -->
