@model IEnumerable<Conecta.Models.CountryStructure.Map>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood.NeighborhoodId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MapId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MapId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MapId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
