@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="cd-section" id="footers">
    <div id="footer-areas">
        <footer class="footer footer-white footer-big">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="@Url.Content("~/")"><h5>Matta Sur - Conecta Con la Memoria</h5></a>
                            <p>@Localizer["Description_Short"]</p>
                        </div>
                        <div class="col-md-2">
                            <h5>About</h5>
                            <ul class="links-vertical">
                                <li>
                                    <a asp-controller="Home" asp-action="About">
                                        Nosotros
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Main" asp-action="Conecta">
                                        Presentación
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <h5>Idioma</h5>
                            <ul class="links-vertical">
                                <li>
                                    @await Html.PartialAsync("_SelectLanguagePartial")
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5>Legal</h5>
                            <ul class="links-vertical">
                                <li>
                                    <a asp-controller="Legal" asp-action="TermsAndConditions">@Localizer["Terms and conditions"] </a>
                                </li>
                                <li>
                                    <a asp-controller="Legal" asp-action="PrivacyPolicy">@Localizer["Privacy Policy"]</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">@Localizer["Contact"]</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <center>
                                <h5>Matta Sur - Conecta con la Memoria</h5>
                                <ul class="links-vertical">
                                    <li>
                                        <a asp-controller="Home" asp-action="Index">
                                            <img id="logo" src="~/images/logos/logo_horizontal.png" alt="Conecta - Inicio" />
                                        </a>
                                    </li>
                                    <li></li>
                                    <li>
                                        <a href="https://uniboyaca.edu.co">
                                            <img id="logo" src="~/images/logos/uniboyaca.png" alt="Conecta - Inicio" />
                                        </a>
                                    </li>
                                </ul>
                            </center>
                        </div>

                    </div>
                </div>

                <hr>

                <ul class="social-buttons">
                    <li>
                        <a href="#" class="btn btn-just-icon btn-link btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-just-icon btn-link btn-facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-just-icon btn-link btn-google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>

                <div class="copyright pull-center">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, hecho con <i class="material-icons">favorite</i> por los<a asp-controller="Home" asp-action="About"> integrantes de Matta Sur - Conecta.</a>
                    <!-- Creative Tim -->
                </div>
            </div>
        </footer>
    </div>
</div>